@import variables


.la-title
  color: $white
  font-size: 3em
  font-weight: bold
  margin-bottom: 40px
  margin-top: 12vh

  +center-row-horizontal


.la-help-text
  color: $regent-gray
  flex-direction: column
  flex-wrap: wrap
  line-height: 1.8em
  margin-top: 40px
  text-align: center

  a
    color: $regent-gray
    text-underline-position: under


+respond-to($width-xs)
  .la-title,
  .la-help-text
    justify-content: flex-start
    margin: .3em 0
    padding: 12px 50px
    width: 100%

  .la-title
    font-size: 2.3em

  .la-help-text
    font-size: 1em
    text-align: left


+respond-to($width-xxs)
  .la-title,
  .la-help-text
    margin: .5em 0
    padding: 12px 25px

  .la-title
    font-size: 2em

  .la-help-text
    font-size: .8em

@media (max-height: 400px)
  .la-title,
  .la-help-text,
  .bm-burger-button
    display: none

  .searchbar-container
    padding-top: 20px

  .searchbar-suggestions-container
    max-height: calc(100% - 90px)

