@import variables


header
  background: linear-gradient(to bottom, $cape-cod 0%, $shark 105%)
  display: flex
  flex-direction: row
  height: 60px
  position: absolute
  width: 100%

  & + div
    display: flex
    height: calc(100% - 100px)
    margin-top: 60px
    width: 100%

    .la-map
      height: auto

footer
  align-items: center
  display: flex
  height: 50px
  justify-content: flex-start
  padding-left: 25px
  width: 100%

  .footer-separator,
  a
    color: $white
    cursor: pointer
    font-weight: bold
    text-underline-position: under

  a
    text-decoration: underline

  .footer-separator
    margin: 0 15px


+respond-to($width-s)
  footer
    display: none

  header + div
    margin-top: 70px


+respond-to($width-xs)
  header + div
    margin-top: 80px
