@import variables

.snackbar-container
  bottom: 0
  position: absolute
  transform: translateY(100%)
  transition: transform 0.218s ease-in-out
  width: 100%
  z-index: 2
  visibility: hidden

.snackbar-container--visible
  transform: translateY(0%)
  visibility: visible

.snackbar-container--invisible
  transform: translateY(0%)
  visibility: visible

.snackbar
  background-color: $grey900
  border-radius: 5px 5px 0 0
  box-shadow: $shadow-active
  color: $grey500
  line-height: 2em
  margin: 0 auto
  max-width: 500px
  padding: 10px