@import variables

*
  box-sizing: border-box
  color: $grey300
  font-family: 'Raleway', sans-serif

body
  background-color: $grey800
  margin: 0

footer
  bottom: 10px
  left: 10px
  position: absolute
  z-index: -1

  a
    margin-right: 20px
    text-decoration: none

    svg
      fill: $grey500

    span
      color: $grey500
      font-weight: bold
      vertical-align: 4px

.github
  display: none

  &:hover
    svg
      fill: $grey200

    span
      color: $grey200

.heart:hover
  svg
    fill: $deep-orange-a400

  span
    color: $deep-orange-a400

.map:hover
  svg
    fill: $orange-a400

  span
    color: $orange-a400


+respond-to($width-small)
  body
    font-size: 12px
