@import variables
@import SearchBar


*
  box-sizing: border-box
  color: $grey300
  font-family: 'Raleway', sans-serif

body
  background-color: $grey800
  margin: 0

footer
  bottom: 10px
  left: 10px
  position: absolute

  a
    margin-right: 20px
    text-decoration: none

    svg
      fill: $grey500

    span
      color: $grey500
      font-weight: bold
      vertical-align: 4px

.github:hover
  svg
    fill: $grey200

  span
    color: $grey200

.heart:hover
  svg
    fill: $deep-orangeA400

  span
    color: $deep-orangeA400

.map:hover
  svg
    fill: $orangeA400

  span
    color: $orangeA400
