body
  background-color: #000000

.searchbar-container
  &::before
  color: #FFFFFF

.mindmap-connection
  stroke: #FFFFFF

.bm-burger-bars
  background: #FFFFFF

.breadcrumbs span
  color: #FFFFFF

.mindmap-subnode-text a
  color: #FFFFFF

.introText
  color: #FFFFFF