body
  background-color: #eee

.searchbar-container
  &::before
    color: #000000

.mindmap-connection
  stroke: #000000

.mindmap-subnode-text a
  color: #000000

.breadcrumbs span
  color: #000000

.bm-burger-bars
  background: #000000

.introText
  color: #000000